html {
  overflow-y: scroll;
}
@font-face {
  font-family: "Estedad-VF";
  src: url("./Estedad-VF.woff2")
}

body {
  display: grid;
  background-color: #eee;
  color: #333;
  padding: 0;
  margin: 0;
}

main{
  direction: rtl;
  margin: 1.5em 24.5em 1.5em 1.5em;
  font-family: "Estedad-VF", sans-serif;
  line-height: 1.5;
  word-break: break-word;
}
.aside-child{
    width: 100%;
	overflow-y: hidden;
    height: 100%;
    padding-right: 17px;
	box-sizing: content-box;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.aside-child::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.aside-child {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
sup{
  font-size: 12px;
}
aside{
  font-family: "Estedad-VF", sans-serif;
  width: 17.3em;
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  z-index: 1;
  display: block;
  line-height: 1.5;
  overflow: hidden;
  height: 90%;
}
#FontToggle{
  background-color: transparent;
}
#fixedbutton {
    font-family: "Estedad-VF", sans-serif;
    font-variation-settings: "wght" 400;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ff4242;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
	border-radius: 8px;
    font-size: 16px;
    padding: 5px 10px;
}
main, aside {
  padding: 1em 2em;
  color: #222;
  background-color: white;
  border-radius: 0.5em;
}

form {
  font-family: "Estedad-VF", sans-serif;
  /* background-color: white; */
  border-radius: 0.2em;
}
::selection {
    background-color: #ff8080;
}
input,
button,
textarea,
select {
  /* font-size: 12px; */
  color: #ff4242;
  font-family: "Estedad-VF", sans-serif;
  font-variation-settings: "wght" 500;
  outline: none;
}
*:focus {
    outline: none;
}
h1 {
  color: #222;
  font-variation-settings: "wght" 500;
  font-size: 28px;
}
a {
  outline: none;
  text-decoration: none;
  cursor:pointer;
  color: #ff4242;
  font-variation-settings: "wght" 600;
}

form p {
  margin-top: -0.5em;
}

form p:first-child {
  margin-top: 0;
}

form p:last-child {
  margin-bottom: 0;
}

form p > span {
  display: flex;
  justify-content: space-between;
}

form button {
  background-color: transparent;
  padding: 0.25em 0.5em;
  margin-left: 0.5em;
  border: none;
  border-radius: 0;
}

form button:focus,
form button:hover {
  color: #ff4242;
  outline: none;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  font: 18px Estedad-VF, sans-serif;
  font-variation-settings: "wght" 550;
}


.tab button:hover {
  color: #ff4242;
}


.tab button.active {
  color: #ff4242;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}
@media screen and (min-width: 50em) {
  body {
    display: grid;
    grid-template-areas:
    "main aside"
}
    grid-gap: 0;
  }
  input[type="range"] {
    margin-top: 8px;
    -webkit-appearance: none;
  	-moz-appearance: none;
  	background: #00000020;
  	border-radius: 2px;
    width: 100%;
    height: 5px;
	margin-left: 10px;
	margin-right: 10px;
    outline: 0;
    border: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #555;
    width: 10px;
    height: 14px;
    border-radius: 20%;
    cursor: pointer;
    border: 0px;
  }
    input[type="range"]::-moz-range-thumb {
      -moz-appearance: none;
      background-color: #555;
      width: 10px;
      height: 14px;
      border-radius: 20%;
      cursor: pointer;
      border: 0px;
    }
     input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.1);
      background-color: #ff4242;
      }
     input[type="range"]::-moz-range-thumb:active {
      transform: scale(1.1);
      background-color: #ff4242;
      }
    input[type="range"]::-webkit-slider-thumb:hover {
      transform: scale(1.1);
      background-color: #ff4242;
    }
      input[type="range"]::-moz-range-thumb:hover {
        transform: scale(1.1);
        background-color: #ff4242;
      }
      input[type="checkbox"]:checked {
        background: #ff4242;
      }

      input[type="checkbox"]:hover {
        background: #888;
      }

      input[type="checkbox"] {
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: lightgray;
        height: 14px;
        width: 14px;
        border: none;
      }

.social-list {
    text-align: center;
    font-size: 0;
}
.social-list li {
    display: inline-block;
    width: 60px;
    position: relative;
}
.social-list {
    padding-left: 0px;
    text-align: center;
    font-size: 0;
    margin-top: 10px;
    margin-bottom: -20px;
}
.social-list li > a:hover > svg {
    fill: #ff4242;
}
.social-list li > a > svg {
    top: 10%;
    width: 40%;
    height: 40%;
    fill: #888;
}
#tabcontentselector {
  padding: 5px 5px;
  border: none;
  color: #ff4242;
  background-color: #ffffff00;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
}
#tabcontentselector:hover {
	color: #555;
}

.collapsible {
  background-color: transparent;
  color: #ff4242;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  background-color: #88888811;
  margin: 5px;
}

.collapsible:hover {
  color: #555;
}

.reset:hover{
	color: #555;
}

a:hover{
	color: #555;
}

.content {
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}